In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import csv
import src.read_weather as rw
import psycopg2 as pg2
import sqlalchemy
import julian
import datetime
import s3fs
from collections import defaultdict

In [2]:
import gdal

In [3]:
txt_path = 'data/weather/meta_data/ghcnd-stations.txt'
path_2000= 'data/weather/gz_files/2017.csv.gz'

In [17]:
meta_data=rw.read_metadata_txt(txt_path)

In [18]:
idi = rw.station_id_lookup(meta_data)

In [19]:
idi['CA004018880']

array([50.35, -102.2667, 598.0, 'SK'], dtype=object)

In [87]:
weather_data=rw.read_weather_data(path_2000)

In [94]:
path_to_save= 'data/weather/clean_csv/test.csv'

In [92]:
test= weather_data.head(20)

In [95]:
rw.make_clean_csv(test, path_to_save)

True

In [99]:
weather_data

           station_id measurement_date measurement_type  measurement_flag
0         CA1MB000296       2017-01-01             PRCP                 0
1         US1MNCV0008       2017-01-01             PRCP                 0
2         US1MNCV0008       2017-01-01             SNOW                 0
3         US1MISW0005       2017-01-01             PRCP                 0
4         US1MISW0005       2017-01-01             SNOW                 0
5         US1MISW0005       2017-01-01             SNWD                 0
6         ASN00015643       2017-01-01             TMAX               274
7         ASN00015643       2017-01-01             TMIN               218
8         ASN00015643       2017-01-01             PRCP                 2
9         US1MAMD0069       2017-01-01             PRCP                56
10        ASN00085296       2017-01-01             TMAX               217
11        ASN00085296       2017-01-01             TMIN               127
12        ASN00085296       2017-01-01             PRCP                 0
13        US1LAEB0041       2017-01-01             PRCP               950
14        ASN00085280       2017-01-01             TMAX               215
15        ASN00085280       2017-01-01             TMIN               156
16        ASN00085280       2017-01-01             PRCP                 0
17        ASN00040209       2017-01-01             TMAX               293
18        ASN00040209       2017-01-01             TMIN               250
19        ASN00040209       2017-01-01             PRCP                 0
20        US1KSSG0097       2017-01-01             PRCP                 0
21        US1KSSG0097       2017-01-01             SNOW                 0
22        US1KSGO0009       2017-01-01             PRCP                 0
23        US1KSGO0009       2017-01-01             SNOW                 0
24        US1KSEL0074       2017-01-01             PRCP                 0
25        US1INNW0001       2017-01-01             PRCP                 0
26        US1INNW0001       2017-01-01             SNOW                 0
27        US1INNW0001       2017-01-01             SNWD                 0
28        US1INKS0032       2017-01-01             PRCP                 0
29        US1INKS0032       2017-01-01             SNOW                 0
...               ...              ...              ...               ...
34748524  GME00126178       2017-12-31             TMAX               127
34748525  GME00126178       2017-12-31             TMIN                94
34748526  GME00126178       2017-12-31             PRCP                 1
34748527  GME00126178       2017-12-31             SNWD                 0
34748528  US1NMSR0017       2017-12-31             PRCP                 0
34748529  US1NMSR0017       2017-12-31             SNOW                 0
34748530  US1NVCC0014       2017-12-31             PRCP                 0
34748531  ASN00043060       2017-12-31             PRCP                66
34748532  GME00122122       2017-12-31             TMAX               135
34748533  GME00122122       2017-12-31             TMIN                79
34748534  GME00122122       2017-12-31             PRCP                42
34748535  GME00122122       2017-12-31             SNWD                 0
34748536  GME00121822       2017-12-31             TMAX               140
34748537  GME00121822       2017-12-31             TMIN                72
34748538  GME00121822       2017-12-31             PRCP                 1
34748539  GME00121822       2017-12-31             SNWD                 0
34748540  US1NMOT0008       2017-12-31             PRCP                 0
34748541  US1NMOT0008       2017-12-31             SNOW                 0
34748542  US1NMSN0045       2017-12-31             PRCP                 0
34748543  US1NMSN0045       2017-12-31             SNOW                 0
34748544  US1NMSN0080       2017-12-31             PRCP                 0
34748545  US1NMSN0080       2017-12-31             SNOW                 0
34748546  GME00120994       2017-12-31             TMAX               112
34748547  GME00120994       2017-12-31             TMIN                45
34748548  GME00120994       2017-12-31             PRCP                17
34748549  GME00120994       2017-12-31             SNWD                 0
34748550  ASN00095001       2017-12-31             PRCP                20
34748551  US1NEJF0001       2017-12-31             PRCP                 0
34748552  US1NEJF0001       2017-12-31             SNOW                 0
34748553  US1NEJF0001       2017-12-31             SNWD                38

[25270578 rows x 4 columns]

In [ ]:
CREATE TABLE weather_data 
(index int,
 station_id text, 
 measurement_date date, 
 measurement_type text, 
 measurement_flag int);

In [ ]:
COPY weather_data FROM '/Users/Berzyy/plant_forecast/data/weather/clean_csv/clean_2000.csv' 
WITH (FORMAT csv);

In [ ]:
copy weather_data FROM '/Users/Berzyy/plant_forecast/data/weather/clean_csv/clean_2000.csv' DELIMITER ',' CSV HEADER FALSE;

In [ ]:
COPY weather_data from '/Users/Berzyy/plant_forecast/data/weather/clean_csv/clean_2000.csv' csv header;

In [10]:
weather_data.head()

Empty DataFrame
Columns: [station_id, measurement_date, measurement_type, measurement_flag]
Index: []

In [18]:
meta_data.head()

    station_id  latitude  longitude  elevation    state
0  ACW00011604   17.1167   -61.7833       10.1       ST
1  ACW00011647   17.1333   -61.7833       19.2       ST
2  AE000041196   25.3330    55.5170       34.0  SHARJAH
3  AEM00041194   25.2550    55.3640       10.4    DUBAI
4  AEM00041217   24.4330    54.6510       26.8      ABU