In [62]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import csv
import src.read_weather as rw

In [70]:
txt_path = 'data/ghcnd-stations.txt'
path_2000= 'data/weather/2000.csv'

In [72]:
weather_data=rw.read_weather_data(path_2000)

In [73]:
meta_data= rw.read_metadata_txt(txt_path)

In [74]:
weather_data.head()

    station_id measurement_date measurement_type  measurement_flag
0  ASN00015643       2000-01-01             TMAX               350
1  ASN00015643       2000-01-01             PRCP                 0
2  ASN00085296       2000-01-01             TMAX               141
3  ASN00085296       2000-01-01             TMIN                79
4  ASN00085296       2000-01-01             PRCP                10

In [75]:
meta_data.head()

    station_id  latitude  longitude  elevation
0  ACW00011604   17.1167   -61.7833       10.1
1  ACW00011647   17.1333   -61.7833       19.2
2  AE000041196   25.3330    55.5170       34.0
3  AEM00041194   25.2550    55.3640       10.4
4  AEM00041217   24.4330    54.6510       26.8